In [6]:
# Pattern:- 1
num = int(input('Enter your number:'))

for i in range(num):
    print('*',end = ' ')

Enter your number: 6

* * * * * *

In [16]:
# Pattern:- 2
num = int(input('Enter no rows:'))

for i in range(num):
    print("* " * num)

Enter no rows: 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [20]:
# Pattern:- 3
num = int(input('Enter no rows:'))

for i in range(num):
    print("* " * num)

Enter no rows: 5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [25]:
# Pattern:- 4
num = int(input('Enter no rows:'))

for i in range(num):
    print((str(num) + ' ') * num)

Enter no rows: 5

5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

In [32]:
# Pattern:- 5
num = int(input('Enter no rows:'))

for i in range(num):
    print((str(i + 1) + ' ') * (num))

Enter no rows: 5

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [41]:
# Pattern:- 6
num = int(input('Enter no rows:'))

for i in range(num):
    print('* ' * (i+1))

Enter no rows: 5

*
* *
* * *
* * * *
* * * * *

In [44]:
# Pattern:- 7
num = int(input('Enter no rows:'))

for i in range(num):
    print((str(num) + ' ') * (i+1))

Enter no rows: 5

5
5 5
5 5 5
5 5 5 5
5 5 5 5 5

In [45]:
# Pattern:- 7
num = int(input('Enter no rows:'))

for i in range(num):
    print((str(i+1) + ' ') * (i+1))

Enter no rows: 4

1
2 2
3 3 3
4 4 4 4

In [47]:
# Pattern:- 8
n = int(input('Enter your rows'))

for i in range(n):
    print('A ' * n)

Enter your rows 5

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [50]:
# Pattern:- 9
num = int(input('Enter no rows:'))

for i in range(num):
    print((str((i+1)) + ' ') * (i+1))

Enter no rows: 7

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7

In [54]:
# Pattern:- 10
n = int(input('Enter your rows'))

for i in range(n):
    print('A ' * n)

Enter your rows 5

A A A A A
A A A A A
A A A A A
A A A A A
A A A A A

In [59]:
# Pattern:- 11
# Unique code for a character 
# To convert unique code to char use chr(unique code)
n = int(input('Enter your rows'))
for i  in range(n):# i = 0,1,2,3
    print((chr(65+i) + ' ') * n )

Enter your rows 5

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [85]:
# Pattern:- 12
n =  int(input('Enter your no'))

for i in range(n): # i = 0,1,2
    for j in range(n):# = 0,1,2
        print(str(j+1),end = ' ')

    print()

Enter your no 5

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [102]:
# Pattern:- 13
n = int(input('Enter your no'))

for i in range(n):
    for j in range(n):
        print((chr(65 + j) + ' '),end = ' ')
    print()

Enter your no 5

A  B  C  D  E
A  B  C  D  E
A  B  C  D  E
A  B  C  D  E
A  B  C  D  E

In [100]:
# Pattern:- 14
n = int(input('Enter your rows'))

for i in range(n):
    print((str(n-i)+ ' ') *n)

Enter your rows 5

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [119]:
# Pattern:- 15
n = int(input('Enter your rows'))

for i in range(n):
    for j in range(n):
        print((str(n-j)+ ' '),end = ' ')
    print()

Enter your rows 5

5  4  3  2  1
5  4  3  2  1
5  4  3  2  1
5  4  3  2  1
5  4  3  2  1

In [121]:
# Pattern:- 16
n = int(input('Enter your rows'))

for i in range(n): # 0,1,2
    print((chr(64 + n - i)+ ' ')*n)

Enter your rows 5

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [129]:
# Pattern:- 17
n =  int(input('Enter your number'))
for i in range(n):
    for j in range(n):
        print((chr(64 + n - j)+ ' '),end = ' ')
    print()

Enter your number 5

E  D  C  B  A
E  D  C  B  A
E  D  C  B  A
E  D  C  B  A
E  D  C  B  A

In [133]:
# Pattern:- 18
n = int(input('Enter your rows'))

for i in range(n):
    for j in range(n):
        print(n-j,end = ' ')
    print()

Enter your rows 5

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [142]:
# Pattern:- 19
n = int(input('Enter your number'))

for i in range(n): # 0,1,2
    for i in range(i+1):
        print('*', end = ' ')
    print()

Enter your number 5

*
* *
* * *
* * * *
* * * * *

In [152]:
# Pattern:- 20

n = int(input('Enter your number'))

for i in range(n):
    for j in range(i+1):
        print(i+1,end = ' ')
    print()

#2nd method

n = int(input('Enter your number'))

for i in range(n):
    print((str(i+1)+ ' ') * (i+1))
print()

Enter your number 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

Enter your number 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [15]:
# Pattern:- 21
n = int(input('Enter your rows'))
for i in range(n):
    print((chr(65 + i)+ ' ')*(i+1))

Enter your rows 5

A
B B
C C C
D D D D
E E E E E

In [29]:
# Pattern:- 22
n = int(input('Enter your rows'))

for i in range(n):
    for j in range(i+1):
        print(j+1,end = ' ')
    print()

Enter your rows 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [35]:
# Pattern:- 23
n = int(input('Enter your rows'))

for i in range(n):
    for j in range(i+1):
        print(chr(65+j)+ ' ',end = ' ')
    print()

Enter your rows 5

A
A  B
A  B  C
A  B  C  D
A  B  C  D  E

In [45]:
# Pattern:- 24
n = int(input('Enter your rows'))
for i in range(n):
    for j in range(i+1):
        print(n-j,end = ' ' )
    print()

Enter your rows 5

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [79]:
# Pattern:- 25
n =  int(input('Enter your rows'))
for i in range(n):
    for j in range(i+1):
        print(chr(64 + n -j)+ ' ',end = ' ')
    print()

Enter your rows 5

E
E  D
E  D  C
E  D  C  B
E  D  C  B  A

In [81]:
# Pattern:- 26
n  = int(input('Enter your rows'))

for i in range(n):
    print('* ' * (n-i))

Enter your rows 5

* * * * *
* * * *
* * *
* *
*

In [89]:
# Pattern:- 27
n  = int(input('Enter your rows'))

for i in range(n):
    print((str(i + 1)+ ' ')* (n-i))

Enter your rows 5

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [97]:
# Pattern:- 28
n = int(input('Enter your rows'))

for i in range(n):
    print((chr(65+i)+ ' ')*(n-i))

Enter your rows 5

A A A A A
B B B B
C C C
D D
E

In [100]:
# Pattern:- 29
n = int(input('Enter your rows'))

for i in range(n):
    print((str(n-i)+ ' ')*(n-i))

Enter your rows 5

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [105]:
# Pattern:- 30
n = int(input('Enter your rows'))

for i in range(n):
    print((chr(64 + n -i)+ ' ')*(n-i))

Enter your rows 5

E E E E E
D D D D
C C C
B B
A

In [125]:
# Pattern:- 31
n = int(input("Enter your rows"))
for i in range(n):
    for j in range(n-i):
        print(j+1,end = ' ')
    print()

Enter your rows 5

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [136]:
# Pattern:- 32

n = int(input('Enter your rows'))

for i in range(n):
    for j in range(n-i):
        print(chr(65 + j)+ ' ',end = ' ')
    print()

Enter your rows 7

A  B  C  D  E  F  G
A  B  C  D  E  F
A  B  C  D  E
A  B  C  D
A  B  C
A  B
A

In [137]:
# Pattern:- 33

n = int(input('Enter your rows'))

for i in range(n):
    for j in range(n-i):
        print(str(n-j),end =' ')
    print()

Enter your rows 5

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [143]:
# Pattern:- 34
n = int(input('Enter your rows'))

for i in range(n):
    for j in range(n - i):
        print(chr(64 + n - j),end =' ')
    print()

Enter your rows 5

E D C B A
E D C B
E D C
E D
E

## Pyramid patterns

In [150]:
# Pattern:- 35
n = int(input('Enter your rows'))
# no of spaces in every rows = n-i-1
# stars to be print in a row = i+1
for i in range(n):
    print(' '*(n-i-1) + '* '*(i+1))

Enter your rows 5

    *
   * *
  * * *
 * * * *
* * * * *